# Logs
*.log

# Artefacts de build mobile
frontend-mobile/**/android/build/
frontend-mobile/**/ios/App/build/

# Fichiers uploadés (logos des boutiques)
backend/public/logos/

# Archives
*.zip

# Build Flutter
frontend-mobile/**/build/

# Divers
.DS_Store
Thumbs.db

# Dump de base de donnees (donnees reelles)
bd_odoo.sql
